<div class="profile-bar"> 
<h1 style="position: relative; color:white"> <%= current_user.first_name %></h1>


<p><%=link_to "Your Settings", stats_path, class: "btn btn-default btn-lg" %></p>
</div>

<div style="position: relative; top: -350px">
	<div class="arrow-up3">
	</div>

	<div style="position: relative; top: 250px; left: 463px;"><%= link_to "Diet", "#", class: "btn btn-default btn-circle" %>
	</div>

	<div style="position: relative; top: 315px; left: 341px; font-size: 30px"><%= link_to "Exercise", "#", class: "btn btn-default btn-circle" %>
	</div>

	<div style="position: relative; top: 178px; left: 585px; font-size: 30px"><%= link_to "Recovery", "#", class: "btn btn-default btn-circle" %>
	</div>

	<div class="mission" style="relative: absolute; top: 715px; left: 800px; font-size: 40px; color:black"><p> TriFit </p></div>
</div>