<h1 style="position: relative; color:white">Hello, <%= current_user.first_name %>. We at TriFit want to thank you for your interest in our service. You will be notified via email as soon as we have everything up and running!</h1>

<%= link_to "Your Settings", stats_path %>

<div class="arrow-up3">
</div>

<div style="position: relative; top: 250px; left: 463px;"><%= link_to "Diet", "#", class: "btn btn-default btn-circle" %>
</div>

<div style="position: relative; top: 315px; left: 341px; font-size: 30px"><%= link_to "Exercise", "#", class: "btn btn-default btn-circle" %>
</div>

<div style="position: relative; top: 178px; left: 585px; font-size: 30px"><%= link_to "Recovery", "#", class: "btn btn-default btn-circle" %>
</div>

<div class="mission" style="relative: absolute; top: 715px; left: 800px; font-size: 40px; color:black"><p> TriFit </p></div>